* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    overflow: none;
}

h1, h2, h3, h4, h6 {
    color: #242526;
}
a {
    color: #242526;
}
h5 {
    font-size: 18px;
}

body {
    background-color: whitesmoke;
}

#logo {
    position: absolute;
    bottom: 0px;
    left: 15px;
    z-index: 100;
    display: block;
}
#logo img {
    width: 70px;
    height: 70px;
    opacity: 80%;
}
#logo img:hover {
    cursor: pointer;
    opacity: 60%;
}

#about-title {
    position: absolute;
    top: 250px;
    left: 300px;
}

#about-text {
    position: absolute;
    top: 350px;
    left: 300px;
}

#about-links {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
}
#about-links a:hover {
    cursor: pointer;
    opacity: 60%;
}