---
layout: "updates-base.njk"
title: 'Page not found'
image: "/assets/"
---

<div class="container container--narrow flow">
    <h3 class="section-title">Updates</h3>
    <ul role="list" class="articles__list flow">
        {%- for post in collections.featured | reverse -%}
            {% include 'post-snippet.njk' %}
        {%- endfor -%}
    </ul>
</div>