<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="Cloud Shelter">
        <meta property="og:description" content="Cloud Shelter is an online project space dedicated to showcasing experimental digital arts.">
        <meta property="og:image" content="/assets/images/og-meta.png">
        <meta property="og:url" content="https://cloudshelter.space">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:site_name" content="Cloud Shelter">
        <meta name="twitter:image:alt" content="Cloud Shelter">

        <link rel="stylesheet" href="{{ '/css/main.css' | url }}">

        <script src="../js/jquery/jquery-3.6.2.min.js"></script>
        <script src="../js/info-modal.js" defer></script>
        <script src="../js/window-load.js" defer></script>

        <meta name="Description" content="Cloud Shelter is an online project space dedicated to showcasing experimental digital arts.">
        <link rel="icon" type="image/x-icon" href="../favicon.ico">
        <title>Cloud Shelter</title>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>