<!-- <div class="videos">
{% for media in videos %}
    <video
        ID="{{ media.ID }}"
        playsinline="playsinLine"
        webkit-playsinline="webkit-playsinLine"
        loop="loop"
        muted="muted"
        width="{{ media.width }}"
        height="{{ media.height }}"
        src="{{ media.src }}"
        style="display: none;">
    </video>
{% endfor %}
</div> -->