<div class="container container--narrow flow">
    <div class="nav-wrapper">
        <div class="logo home--button">
            <a href="/"><i class="fa-solid fa-cloud" style="font-size: 32px;" title="Home"></i></a>
        </div>
        <nav class="primary-navigation" id="navigation">
            <ul aria-label="Primary" role="list" class="nav__links">
                <li>
                    <a href="/updates" title="Updates">Updates</a>
                </li>
                <li>
                    <a href="/about" title="About">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>