// Captions
#caption {
    position: absolute;
    z-index: 99;
    display: none;
    padding: 10px;
    color: $white;

    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -95%);

    background-color: rgba($black, 0.1);
    border-radius: 10px;
}
#caption p {
    font-size: 20px;
}
#caption p .caption {
    font-weight: 600;
    display: inline-block;
}
#caption p .info {
    font-weight: 400;
    font-size: 18px;
}