// Typography

h1, h2, h3, h4, h5, h6, p {
    font-family: fontRegular;
    color: $black;
}

.w3-container {
    h5 {
        color: $black;
    }
}

a {
    font-family: fontItalic;
    color: $black;
    text-decoration: underline;
    text-decoration-style: dotted;
    transition: ease 0.3s;
}
a:hover {
    cursor: pointer;
    opacity: 60%;
    
    transition: ease 0.3s;
}