<footer>
    <div class="container">
        <div class="footer-text">
            <p>📶 <a href="/rss.xml" target="_blank" rel="noopener" title="Main RSS Feed">RSS Feed</a>.</p><br>
            <p>📩 <a href="/" target="_blank" rel="noopener" title="News Letter">News Letter</a>.</p><br>
            <p>🔗 <a href="https://instagram.com/cloud.shelter" target="_blank" rel="noopener" title="Instagram">Instagram</a>, <a href="https://twitter.com/cloud_shelter" target="_blank" rel="noopener" title="Twitter">Twitter</a>, <a href="https://www.tiktok.com/@cloud.shelter" target="_blank" rel="noopener" title="TikTok">TikTok</a>.</p><br>
            <p><i class="fa-regular fa-copyright"></i> {{ helpers.currentYear() }} ~ Cloud Shelter.</p>
        </div>
    </div>
</footer>