// Fonts

@font-face {
    font-family: fontRegular;
    src: url(/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2);
    font-display: swap;
}
@font-face {
    font-family: fontItalic;
    src: url(/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2);
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: fontBold;
    src: url(/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2);
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: fontBoldItalic;
    src: url(/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2);
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}