---
layout: 'updates-base.njk'

title: About
priority: 0.7
date: 2022-09-24
image: /assets/images/cloud.gif
imageAlt: text
imageTitle: title
description: About & Contact Cloud Shelter.
---

<div class="container container--narrow flow">
    <h3 class="section-title">About</h3>
    <p><a href="/" title="Home">Cloud Shelter</a> is an online exhibition & project space dedicated to showcasing experimental digital arts.</p>
    <p>This project is coordinated and run by <a href="https://www.instagram.com/bralri" title="Instagram" target="_blank" rel="noopener">Bryan Ridpath</a>.</p>

    <br>

    <h3 class="section-title">Contact</h3>
    <p>📧 <a href="mailto:cloudshelter1@gmail.com" title="email">cloudshelter1@gmail.com</a></p>
    <p>💬 <a href="https://www.instagram.com/cloud.shelter" title="Instagram" target="_blank" rel="noopener">@cloud.shelter</a></p>
</div>