---
layout: 'base.njk'
---

<div class="loader">
    <div></div>
</div>

<div class="content">
    <div id="about-text">
        <h3>
            <a href="https://gallery.cloudshelter.app" title="home">Cloud Shelter</a> is an online exhibition and project space dedicated to showcasing experimental digital arts
            <br>
            <br>
            This project is coordinated and run by <a href="https://www.bralri.net" title="bralri.net" target="_blank" rel="noopener">Bryan Ridpath</a>
        </h3>
        <br><br>
        <h3>
            <a href="mailto:cloudshelter1@gmail.com" title="email">cloudshelter1@gmail.com</a> 
            <br>
            <a href="https://www.instagram.com/cloud.shelter" title="instagram" target="_blank" rel="noopener">@cloud.shelter</a>
        </h3>
    </div>

    <div id="about-links">
        <a 
            href="/"
            title="home"
        >
            <i style="font-size:32px" class="fa">&#xf0c2;</i>
        </a>
            &nbsp;
            &nbsp;
        <a 
            href="https://www.instagram.com/cloud.shelter"
            title="instagram" 
            target="_blank"
            rel="noopener"
        >
            <i style="font-size:32px" class="fa">&#xf16d;</i>
        </a>
    </div>
</div>