---
layout: 'layouts/base.njk'
eleventyExcludeFromCollections: true
title: Pleasure Pursuit Lounge
file: 'gwen.min.js'
---

<div id="videos"></div>

<script src="/js/cannon/cannon.min.js"></script>

{% include 'layouts/blocker-links-coords-captions.njk' %}