---
layout: 'layouts/base.njk'

title: Cloud Shelter
file: 'shelter.min.js'
priority: 1.0
date: 2022-09-24
image: /assets/images/cloud.gif
imageAlt: text
imageTitle: title
description: Cloud Shelter is an online project space dedicated to showcasing experimental digital arts.
---

<div id="instructions">
    <p></p>
</div>

{% include 'layouts/blocker-links-coords-captions.njk' %}