---
layout: 'base.njk'
---

{% include 'blocker-links-coords-captions.njk' %}

<div id="instructions">
    <p></p>
</div>

<div class="videos">
    <video
        id="AI-SHIP"
        playsinline="playsinLine"
        webkit-playsinline="webkit-playsinLine"
        loop="loop"
        muted="muted"
        width="1280"
        height="720"
        src="../assets/videos/gwen/Ai-Ship.m4v"
        style="display: none;"></video>

    <video
        id="Tanqueray"
        playsinline="playsinLine"
        webkit-playsinline="webkit-playsinLine"
        loop="loop"
        muted="muted"
        width="720"
        height="480"
        src="../assets/videos/gwen/Tanqueray.m4v"
        style="display: none;"></video>

    <video
        id="PPT1609_1"
        playsinline="playsinLine"
        webkit-playsinline="webkit-playsinLine"
        loop="loop"
        muted="muted"
        width="250"
        height="500"
        src="../assets/videos/gwen/PPT1609_1.mp4"
        style="display: none;"></video>

    <video
        id="PPT1609_2"
        playsinline="playsinLine"
        webkit-playsinline="webkit-playsinLine"
        loop="loop"
        muted="muted"
        width="250"
        height="500"
        src="../assets/videos/gwen/PPT1609_2.mp4"
        style="display: none;"></video>

    <video
        id="TOD_AD"
        playsinline="playsinLine"
        webkit-playsinline="webkit-playsinLine"
        loop="loop"
        muted="muted"
        width="864"
        height="1080"
        src="../assets/videos/gwen/TOD_AD.mp4"
        style="display: none;"></video>

    <video
        id="bebe"
        playsinline="playsinLine"
        webkit-playsinline="webkit-playsinLine"
        loop="loop"
        muted="muted"
        width="600"
        height="1087"
        src="../assets/videos/gwen/bebe.webm"
        style="display: none;"></video>

    <video
        id="morph"
        playsinline="playsinLine"
        webkit-playsinline="webkit-playsinLine"
        loop="loop"
        muted="muted"
        width="780"
        height="1079"
        src="../assets/videos/gwen/morph.webm"
        style="display: none;"></video>
</div>

<script
    async="async"
    src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js">
</script>
<script type="importmap">
    {
        "imports": {
            "three": "../js/three/three.module.js",
            "three/": "../js/three/"
        }
    }
</script>
<script type="module" src="/js/test.js"></script>