---
layout: 'updates-base.njk'

title: "References for Pleasure Pursuit Lounge [Upkeep]"
priority: 0.1
date: 2023-04-15
image: /assets/images/cloud.gif
imageAlt: text
imageTitle: title
description: "References for Pleasure Pursuit Lounge [Upkeep]"
---

<div class="container container--narrow flow">
    <h3 class="section-title">References for Pleasure Pursuit Lounge [Upkeep]</h3>

    <ol>
        <li>
            <p>▶ Title, <cite>information, link</cite>, (date)</p>
        </li>
        <li>
            <p>▶ Title, <cite>information, link</cite>, (date)</p>
        </li>
        <li>
            <p>▶ Title, <cite>information, link</cite>, (date)</p>
        </li>
    </ol>
</div>